[project]
	description = A set of best practices and utilities for building Backbone.js applications.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Durlan Vega (davpco)
[access "refs/for/refs/*"]
	read = group user/Durlan Vega (davpco)
	push = group user/Durlan Vega (davpco)
	label-Code-Review = -2..+2 group user/Durlan Vega (davpco)
	label-Verified = -1..+1 group user/Durlan Vega (davpco)
	rebase = group user/Durlan Vega (davpco)
	removeReviewer = group user/Durlan Vega (davpco)
	submit = group user/Durlan Vega (davpco)
[access "refs/heads/*"]
	read = group user/Durlan Vega (davpco)
	create = group user/Durlan Vega (davpco)
	push = +force group user/Durlan Vega (davpco)
	pushMerge = group user/Durlan Vega (davpco)
[access "refs/tags/*"]
	push = +force group user/Durlan Vega (davpco)
	pushTag = group user/Durlan Vega (davpco)
	pushSignedTag = group user/Durlan Vega (davpco)
